<div>
    <div class="container">
        <ul>
            <li>VID: <label style="color:#55f">{{this.VID}}</label></li>
            <li>PID: <label style="color:#55f">{{this.PID}}</label></li>
            <li>DeviceName: <label style="color:#55f">{{this.DeviceName}}</label></li>
            <li>
                Status: <label style="color:#55f">{{this.Status}}</label>
                <button (click)='scan()'>掃描</button>
            </li>
            <div>
                <img src="image/aaa.png" class="aaa">
            </div>
            <!-- <div>
                <img src="image/aaa.png" style="width:100%" class="bbb">
            </div> -->
            <!-- <div class='bbb'>
                <img src="image/aaa.png" style="width:100%" >
            </div> -->
            <!-- <img class="bbb" > -->
            <!-- <div class="bbb">
            </div> -->
        </ul>
    </div>
</div>