<!-- File:Gray circles rotate.gif; Source:Gray_circles.svg; Author:Gray_circles.svg: Nevit Dilmen,derivative work: Nevit Dilmen -->

<div class="main-app" >
    <div class="content">
        
        <!-- <div class="nav">seeprofileget
            <sm-nav [DeviceName]="DeviceName" [DeviceStatus]='DeviceStatus' [DeviceObj]="DeviceObj"></sm-nav>
        </div>
        <div class="right-panel">
            <div class="app-content-panel">
                <sm-container (updateData)="DataChange($event)" (changeStatus)="StatusChange($event)"></sm-container>
            </div>
        </div> -->
    
        <hd-app (outputProEvent)="profileget($event)"></hd-app>
    </div>
</div>