<div id="clickarea" [style.display]="selfdf">
    <img style="width:100%;height:auto;" src="./image/selfdf.png">
        <div id="optionsbar"> 
            <a routerLink="side01" [ngStyle]="lecss01" (click)="onClick01()">&nbsp;  <img style="width:17%;height:auto;padding-right:10px;" src="./image/btnl01.png"> 宏命令</a>
            <a routerLink="side02" [ngStyle]="lecss02" (click)="onClick02()">&nbsp;  <img style="width:16%;height:auto;padding-right:10px;" src="./image/btnl02.png"> 文本</a>
            <a routerLink="side03" [ngStyle]="lecss03" (click)="onClick03()">&nbsp;  <img style="width:18%;height:auto;padding-right:10px;" src="./image/btnl03.png"> 键盘按键</a>
            <a routerLink="side04" [ngStyle]="lecss04" (click)="onClick04()">&nbsp;  <img style="width:18%;height:auto;padding-right:10px;" src="./image/btnl04.png"> 鼠标按键</a>
            <a routerLink="side05" [ngStyle]="lecss05" (click)="onClick05()"> &nbsp;  <img style="width:18%;height:auto;padding-right:10px;" src="./image/btnl08.png"> 组合热键</a>
            <a routerLink="side06" [ngStyle]="lecss06" (click)="onClick06()">&nbsp;  <img style="width:18%;height:auto;padding-right:10px;" src="./image/btnl06.png"> 多媒体</a>
            <a routerLink="side07" [ngStyle]="lecss07" (click)="onClick07()">&nbsp;  <img style="width:18%;height:auto;padding-right:10px;" src="./image/btnl07.png"> 快捷启动</a>
       </div>
            <div id="contentarea">
       <router-outlet></router-outlet>
    
       </div>
    
       <div id="confirmarea">
        <a id="na"  (click)="colseSelfdf()">取消</a>
        <a id="yes" (click)="colseSelfdf()">保存</a>
    </div>
    
        </div>



<div id="mchbar">
    <a routerLink="selfdf" style="color:#969696;background:#2D2D2D" id="mchbtn01">单个按键</a>
    <a href="#" id="mchbtn02" style="color:white;background: #E9004C">FN組合鍵</a>
</div>
<img src="./image/bk500.png" alt="bk500" id="bk500"> 
<div class="effect clearEffect UtoD1 LtoR1" id="esc" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD1 LtoR2" id="f1" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD1 LtoR2" id="f2" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD1 LtoR3" id="f3" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD1 LtoR3" id="f4" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD1 LtoR4" id="f5" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD1 LtoR4" id="f6" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD1 LtoR5" id="f7" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD1 LtoR5" id="f8" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD1 LtoR6" id="f9" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD1 LtoR6" id="f10" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD1 LtoR7" id="f11" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD1 LtoR7" id="f12" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD1 LtoR8" id="print" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD1 LtoR8" id="scroll" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD1 LtoR8" id="pause" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR1" id="perid" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR1" id="n1" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR2" id="n2" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR2" id="n3" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR3" id="n4" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR3" id="n5" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR4" id="n6" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR4" id="n7" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR5" id="n8" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR5" id="n9" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR6" id="n0" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR6" id="minus" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR7" id="plus" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR7" id="bsp" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR8" id="insert" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR8" id="home" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR8" id="pup" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR9" id="numlock" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR9" id="numdrawn" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR10" id="numtimes" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD2 LtoR10" id="numminus" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR1" id="tab" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR1" id="q" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR2" id="w" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR2" id="e" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR3" id="r" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR3" id="t" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR4" id="y" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR4" id="u" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR5" id="i" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR5" id="o" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR6" id="p" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR6" id="lqu" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR7" id="rqu" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR8" id="delete" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR7" id="drawn" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR8" id="end" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR8" id="pdown" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR9" id="num7" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR9" id="num8" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR10" id="num9" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD3 LtoR10" id="numplus" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD4 LtoR1" id="caps" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD4 LtoR1" id="a" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD4 LtoR2" id="s" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD4 LtoR2" id="d" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD4 LtoR3" id="f" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD4 LtoR3" id="g" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD4 LtoR4" id="h" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD4 LtoR4" id="j"  (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD4 LtoR5" id="k"  (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD4 LtoR5" id="l"  (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD4 LtoR6" id="sem" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD4 LtoR6" id="quo"  (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD4 LtoR7" id="enter" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD4 LtoR9" id="num4"  (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD4 LtoR9" id="num5" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD4 LtoR10" id="num6" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD5 LtoR1" id="lshift" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD5 LtoR1" id="z" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD5 LtoR2" id="x" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD5 LtoR2" id="c" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD5 LtoR3" id="v" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD5 LtoR3" id="b"  (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD5 LtoR4" id="n" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD5 LtoR4" id="m" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD5 LtoR5" id="comma" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD5 LtoR5" id="dot" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD5 LtoR6" id="qmark" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD5 LtoR6" id="rshift" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD5 LtoR7" id="up" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD5 LtoR9" id="num1" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD5 LtoR9" id="num2" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD5 LtoR10" id="num3" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD5 LtoR10" id="numenter" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD6 LtoR1" id="lctrl" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD6 LtoR1" id="win" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD6 LtoR2" id="lalt" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD6 LtoR3" id="space" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD6 LtoR5" id="ralt" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD6 LtoR5" id="fn" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD6 LtoR6" id="book" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD6 LtoR6" id="rctrl" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD6 LtoR8" id="left" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD6 LtoR8" id="down" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD6 LtoR8" id="right" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD6 LtoR9" id="num0" (dblclick)="callSelfdf()"></div>
<div class="effect clearEffect UtoD6 LtoR10" id="numdot" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU1 RtoL1" id="esc_2" (dblclick)="callSelfdf()"></div>





<!-- 第二層鍵盤div -->

<div class="clearEffect DtoU1 RtoL2" id="f1_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU1 RtoL2" id="f2_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU1 RtoL3" id="f3_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU1 RtoL3" id="f4_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU1 RtoL4" id="f5_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU1 RtoL4" id="f6_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU1 RtoL5" id="f7_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU1 RtoL5" id="f8_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU1 RtoL6" id="f9_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU1 RtoL6" id="f10_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU1 RtoL7" id="f11_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU1 RtoL7" id="f12_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU1 RtoL8" id="print_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU1 RtoL8" id="scroll_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU1 RtoL8" id="pause_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL1" id="perid_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL1" id="n1_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL2" id="n2_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL2" id="n3_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL3" id="n4_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL3" id="n5_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL4" id="n6_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL4" id="n7_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL5" id="n8_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL5" id="n9_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL6" id="n0_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL6" id="minus_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL7" id="plus_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL7" id="bsp_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL8" id="insert_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL8" id="home_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL8" id="pup_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL9" id="numlock_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL9" id="numdrawn_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL10" id="numtimes_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU2 RtoL10" id="numminus_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL1" id="tab_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL1" id="q_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL2" id="w_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL2" id="e_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL3" id="r_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL3" id="t_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL4" id="y_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL4" id="u_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL5" id="i_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL5" id="o_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL6" id="p_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL6" id="lqu_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL7" id="rqu_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL7" id="drawn_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL8" id="delete_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL8" id="end_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL8" id="pdown_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL9" id="num7_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL9" id="num8_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL10" id="num9_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU3 RtoL10" id="numplus_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU4 RtoL1" id="caps_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU4 RtoL1" id="a_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU4 RtoL2" id="s_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU4 RtoL2" id="d_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU4 RtoL3" id="f_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU4 RtoL3" id="g_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU4 RtoL4" id="h_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU4 RtoL4" id="j_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU4 RtoL5" id="k_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU4 RtoL5" id="l_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU4 RtoL6" id="sem_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU4 RtoL6" id="quo_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU4 RtoL7" id="enter_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU4 RtoL9" id="num4_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU4 RtoL9" id="num5_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU4 RtoL10" id="num6_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU5 RtoL1" id="lshift_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU5 RtoL1" id="z_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU5 RtoL2" id="x_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU5 RtoL2" id="c_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU5 RtoL3" id="v_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU5 RtoL3" id="b_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU5 RtoL4" id="n_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU5 RtoL4" id="m_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU5 RtoL5" id="comma_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU5 RtoL5" id="dot_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU5 RtoL6" id="qmark_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU5 RtoL6" id="rshift_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU5 RtoL7" id="up_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU5 RtoL9" id="num1_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU5 RtoL9" id="num2_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU5 RtoL10" id="num3_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU5 RtoL10" id="numenter_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU6 RtoL1" id="lctrl_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU6 RtoL1" id="win_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU6 RtoL2" id="lalt_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU6 RtoL3" id="space_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU6 RtoL5" id="ralt_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU6 RtoL5" id="fn_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU6 RtoL6" id="book_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU6 RtoL6" id="rctrl_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU6 RtoL8" id="left_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU6 RtoL8" id="down_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU6 RtoL8" id="right_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU6 RtoL9" id="num0_2" (dblclick)="callSelfdf()"></div>
<div class="clearEffect DtoU6 RtoL10" id="numdot_2" (dblclick)="callSelfdf()"></div>