<div class="container">
    <img class="socialmain" src="./image/social_t.png" alt="">
    <a class="link1" (click)="official()">
        <img src="./image/social_main01.png" alt="官網">
    </a>
    <a class="link2" (click)="bbs()">
        <img src="./image/social_main02.png" alt="論壇">
    </a>
    <a class="link3" (click)="sell()">
        <img src="./image/social_main03.png" alt="售後服務">
    </a>
    <a class="link4">
        <img src="./image/social_main04.png" alt="">
    </a>
    <a class="link5" (click)="weibo()">
        <img src="./image/social_main05.png" alt="微博">
    </a>
</div>