<!-- <div style="position: absolute;z-index: 19;width: 100%;height: 800%;top: -500px;left: 0px;cursor: pointer;" (mouseenter)='goIn()'
    *ngIf="letsgoIn"></div>
<div style="position: absolute;z-index:21;width:210px;height:30px;top:230px;left:130px;cursor:pointer;" (mouseenter)='goOut()'
    *ngIf="letsgoout"></div> -->
<section class={{blockcss}} (click)="timeBlur()">
    <!-- <section style="position: absolute;
		left: 347px;
		top: 70px;
		width: 200px;
		height: 130px;
		z-index: 30;
		background: rgba(0,0,0,0.6);
		color: white;
		padding: 10px;
		text-align: center;
        line-height:75px;" *ngIf='loading'>写入中
        <br>
        <img src="image/loading_circles.gif" style="position:absolute;width: 30px;height: 30px;top:75px;left:85px;">
    </section> -->
    <section style="position: absolute;
		left: 347px;
		top: 70px;
		width: 200px;
		height: 100px;
		z-index: 30;
		background: black;
		color: white;
		padding: 10px;
		text-align: center;
		line-height:75px;" *ngIf='timewarn'>请输入 1 ~ 9999 之数值
	</section>
    <div id="mchbar"> </div>
    <img src="./image/bk700_atbtn.png" alt="bk700_atbtn.png" id="bk700atbtn" *ngIf="attbtn">
    <img src="./image/bk700_ att.png" alt="bk700" id="bk700">
    <div [style.opacity]="op">
        <div id="esc_lr"></div>
        <div id="f1_lr"></div>
        <div id="f2_lr"></div>
        <div id="f3_lr"></div>
        <div id="f4_lr"></div>
        <div id="f5_lr"></div>
        <div id="f6_lr"></div>
        <div id="f7_lr"></div>
        <div id="f8_lr"></div>
        <div id="f9_lr"></div>
        <div id="f10_lr"></div>
        <div id="f11_lr"></div>
        <div id="f12_lr"></div>
        <div id="print_lr"></div>
        <div id="scroll_lr"></div>
        <div id="pause_lr"></div>
        <div id="perid_lr"></div>
        <div id="n1_lr"></div>
        <div id="n2_lr"></div>
        <div id="n3_lr"></div>
        <div id="n4_lr"></div>
        <div id="n5_lr"></div>
        <div id="n6_lr"></div>
        <div id="n7_lr"></div>
        <div id="n8_lr"></div>
        <div id="n9_lr"></div>
        <div id="n0_lr"></div>
        <div id="minus_lr"></div>
        <div id="plus_lr"></div>
        <div id="bsp_lr"></div>
        <div id="insert_lr"></div>
        <div id="home_lr"></div>
        <div id="pup_lr"></div>
        <div id="numlock_lr"></div>
        <div id="numdrawn_lr"></div>
        <div id="numtimes_lr"></div>
        <div id="numminus_lr"></div>
        <div id="tab_lr"></div>
        <div id="q_lr"></div>
        <div id="w_lr"></div>
        <div id="e_lr"></div>
        <div id="r_lr"></div>
        <div id="t_lr"></div>
        <div id="y_lr"></div>
        <div id="u_lr"></div>
        <div id="i_lr"></div>
        <div id="o_lr"></div>
        <div id="p_lr"></div>
        <div id="lqu_lr"></div>
        <div id="rqu_lr"></div>
        <div id="delete_lr"></div>
        <div id="drawn_lr"></div>
        <div id="end_lr"></div>
        <div id="pdown_lr"></div>
        <div id="num7_lr"></div>
        <div id="num8_lr"></div>
        <div id="num9_lr"></div>
        <div id="numplus_lr"></div>
        <div id="caps_lr"></div>
        <div id="a_lr"></div>
        <div id="s_lr"></div>
        <div id="d_lr"></div>
        <div id="f_lr"></div>
        <div id="g_lr"></div>
        <div id="h_lr"></div>
        <div id="j_lr"></div>
        <div id="k_lr"></div>
        <div id="l_lr"></div>
        <div id="sem_lr"></div>
        <div id="quo_lr"></div>
        <div id="enter_lr"></div>
        <div id="num4_lr"></div>
        <div id="num5_lr"></div>
        <div id="num6_lr"></div>
        <div id="lshift_lr"></div>
        <div id="z_lr"></div>
        <div id="x_lr"></div>
        <div id="c_lr"></div>
        <div id="v_lr"></div>
        <div id="b_lr"></div>
        <div id="n_lr"></div>
        <div id="m_lr"></div>
        <div id="comma_lr"></div>
        <div id="dot_lr"></div>
        <div id="qmark_lr"></div>
        <div id="rshift_lr"></div>
        <div id="up_lr"></div>
        <div id="num1_lr"></div>
        <div id="num2_lr"></div>
        <div id="num3_lr"></div>
        <div id="numenter_lr"></div>
        <div id="lctrl_lr"></div>
        <div id="win_lr"></div>
        <div id="lalt_lr"></div>
        <div id="space_lr"></div>
        <div id="ralt_lr"></div>
        <div id="fn_lr"></div>
        <div id="book_lr"></div>
        <div id="rctrl_lr"></div>
        <div id="left_lr"></div>
        <div id="down_lr"></div>
        <div id="right_lr"></div>
        <div id="num0_lr"></div>
        <div id="numdot_lr"></div>

        <div [class]="LtoR1_att" id="esc_att"></div>
        <div [class]="LtoR3_att" id="f1_att"></div>
        <div [class]="LtoR4_att" id="f2_att"></div>
        <div [class]="LtoR5_att" id="f3_att"></div>
        <div [class]="LtoR6_att" id="f4_att"></div>
        <div [class]="LtoR7_att" id="f5_att"></div>
        <div [class]="LtoR8_att" id="f6_att"></div>
        <div [class]="LtoR9_att" id="f7_att"></div>
        <div [class]="LtoR10_att" id="f8_att"></div>
        <div [class]="LtoR11_att" id="f9_att"></div>
        <div [class]="LtoR12_att" id="f10_att"></div>
        <div [class]="LtoR13_att" id="f11_att"></div>
        <div [class]="LtoR14_att" id="f12_att"></div>
        <div [class]="LtoR15_att" id="print_att"></div>
        <div [class]="LtoR16_att" id="scroll_att"></div>
        <div [class]="LtoR17_att" id="pause_att"></div>
        <div [class]="LtoR1_att" id="perid_att"></div>
        <div [class]="LtoR2_att" id="n1_att"></div>
        <div [class]="LtoR3_att" id="n2_att"></div>
        <div [class]="LtoR4_att" id="n3_att"></div>
        <div [class]="LtoR5_att" id="n4_att"></div>
        <div [class]="LtoR6_att" id="n5_att"></div>
        <div [class]="LtoR7_att" id="n6_att"></div>
        <div [class]="LtoR8_att" id="n7_att"></div>
        <div [class]="LtoR9_att" id="n8_att"></div>
        <div [class]="LtoR10_att" id="n9_att"></div>
        <div [class]="LtoR11_att" id="n0_att"></div>
        <div [class]="LtoR12_att" id="minus_att"></div>
        <div [class]="LtoR13_att" id="plus_att"></div>
        <div [class]="LtoR14_att" id="bsp_att"></div>
        <div [class]="LtoR15_att" id="insert_att"></div>
        <div [class]="LtoR16_att" id="home_att"></div>
        <div [class]="LtoR17_att" id="pup_att"></div>
        <div [class]="LtoR18_att" id="numlock_att"></div>
        <div [class]="LtoR19_att" id="numdrawn_att"></div>
        <div [class]="LtoR20_att" id="numtimes_att"></div>
        <div [class]="LtoR21_att" id="numminus_att"></div>
        <div [class]="LtoR1_att" id="tab_att"></div>
        <div [class]="LtoR2_att" id="q_att"></div>
        <div [class]="LtoR3_att" id="w_att"></div>
        <div [class]="LtoR4_att" id="e_att"></div>
        <div [class]="LtoR5_att" id="r_att"></div>
        <div [class]="LtoR6_att" id="t_att"></div>
        <div [class]="LtoR7_att" id="y_att"></div>
        <div [class]="LtoR8_att" id="u_att"></div>
        <div [class]="LtoR9_att" id="i_att"></div>
        <div [class]="LtoR10_att" id="o_att"></div>
        <div [class]="LtoR11_att" id="p_att"></div>
        <div [class]="LtoR12_att" id="lqu_att"></div>
        <div [class]="LtoR13_att" id="rqu_att"></div>
        <div [class]="LtoR14_att" id="drawn_att"></div>
        <div [class]="LtoR15_att" id="delete_att"></div>
        <div [class]="LtoR16_att" id="end_att"></div>
        <div [class]="LtoR17_att" id="pdown_att"></div>
        <div [class]="LtoR18_att" id="num7_att"></div>
        <div [class]="LtoR19_att" id="num8_att"></div>
        <div [class]="LtoR20_att" id="num9_att"></div>
        <div [class]="LtoR21_att" id="numplus_att"></div>
        <div [class]="LtoR1_att" id="caps_att"></div>
        <div [class]="LtoR2_att" id="a_att"></div>
        <div [class]="LtoR3_att" id="s_att"></div>
        <div [class]="LtoR4_att" id="d_att"></div>
        <div [class]="LtoR5_att" id="f_att"></div>
        <div [class]="LtoR6_att" id="g_att"></div>
        <div [class]="LtoR7_att" id="h_att"></div>
        <div [class]="LtoR8_att" id="j_att"></div>
        <div [class]="LtoR9_att" id="k_att"></div>
        <div [class]="LtoR10_att" id="l_att"></div>
        <div [class]="LtoR11_att" id="sem_att"></div>
        <div [class]="LtoR12_att" id="quo_att"></div>
        <div [class]="LtoR13_att" id="enter_att"></div>
        <div [class]="LtoR18_att" id="num4_att"></div>
        <div [class]="LtoR19_att" id="num5_att"></div>
        <div [class]="LtoR20_att" id="num6_att"></div>
        <div [class]="LtoR1_att" id="lshift_att"></div>
        <div [class]="LtoR2_att" id="z_att"></div>
        <div [class]="LtoR3_att" id="x_att"></div>
        <div [class]="LtoR4_att" id="c_att"></div>
        <div [class]="LtoR5_att" id="v_att"></div>
        <div [class]="LtoR6_att" id="b_att"></div>
        <div [class]="LtoR7_att" id="n_att"></div>
        <div [class]="LtoR8_att" id="m_att"></div>
        <div [class]="LtoR9_att" id="comma_att"></div>
        <div [class]="LtoR10_att" id="dot_att"></div>
        <div [class]="LtoR11_att" id="qmark_att"></div>
        <div [class]="LtoR14_att" id="rshift_att"></div>
        <div [class]="LtoR16_att" id="up_att"></div>
        <div [class]="LtoR18_att" id="num1_att"></div>
        <div [class]="LtoR19_att" id="num2_att"></div>
        <div [class]="LtoR20_att" id="num3_att"></div>
        <div [class]="LtoR21_att" id="numenter_att"></div>
        <div [class]="LtoR1_att" id="lctrl_att"></div>
        <div [class]="LtoR1_att" id="win_att"></div>
        <div [class]="LtoR2_att" id="lalt_att"></div>
        <div [class]="LtoR6_att" id="space_att"></div>
        <div [class]="LtoR11_att" id="ralt_att"></div>
        <div [class]="LtoR12_att" id="fn_att"></div>
        <div [class]="LtoR13_att" id="book_att"></div>
        <div [class]="LtoR14_att" id="rctrl_att"></div>
        <div [class]="LtoR15_att" id="left_att"></div>
        <div [class]="LtoR16_att" id="down_att"></div>
        <div [class]="LtoR17_att" id="right_att"></div>
        <div [class]="LtoR18_att" id="num0_att"></div>
        <div [class]="LtoR20_att" id="numdot_att"></div>
    </div>
    <div id="Upside1_lr" [style.opacity]="op"></div>
    <div id="Upside2_lr" [style.opacity]="op"></div>
    <div id="Upside3_lr" [style.opacity]="op"></div>
    <div id="Upside4_lr" [style.opacity]="op"></div>
    <div id="Upside5_lr" [style.opacity]="op"></div>
    <div id="Upside6_lr" [style.opacity]="op"></div>
    <div id="Upside7_lr" [style.opacity]="op"></div>
    <div id="Upside8_lr" [style.opacity]="op"></div>
    <div id="Upside9_lr" [style.opacity]="op"></div>
    <div id="Upside10_lr" [style.opacity]="op"></div>
    <div id="logo1_lr" [style.opacity]="op" style="width: 50px;" ></div>
    <div id="logo2_lr" [style.opacity]="op"></div>
    <div id="Upside11_lr" [style.opacity]="op"></div>
    <div id="Upside12_lr" [style.opacity]="op"></div>
    <div id="Upside13_lr" [style.opacity]="op"></div>
    <div id="Upside14_lr" [style.opacity]="op"></div>
    <div id="Upside15_lr" [style.opacity]="op"></div>
    <div id="Upside16_lr" [style.opacity]="op"></div>
    <div id="Upside17_lr" [style.opacity]="op"></div>
    <div id="Upside18_lr" [style.opacity]="op"></div>
    <div id="Upside19_lr" [style.opacity]="op"></div>
    <div id="Upside20_lr" [style.opacity]="op"></div>

    <div [class]="Upside1_att" id="Upside1_att" [style.opacity]="op"></div>
    <div [class]="Upside2_att" id="Upside2_att" [style.opacity]="op"></div>
    <div [class]="Upside3_att" id="Upside3_att" [style.opacity]="op"></div>
    <div [class]="Upside4_att" id="Upside4_att" [style.opacity]="op"></div>
    <div [class]="Upside5_att" id="Upside5_att" [style.opacity]="op"></div>
    <div [class]="Upside6_att" id="Upside6_att" [style.opacity]="op"></div>
    <div [class]="Upside7_att" id="Upside7_att" [style.opacity]="op"></div>
    <div [class]="Upside8_att" id="Upside8_att" [style.opacity]="op"></div>
    <div [class]="Upside9_att" id="Upside9_att" [style.opacity]="op"></div>
    <div [class]="Upside10_att" id="Upside10_att" [style.opacity]="op"></div>
    <div [class]="logo1_att" id="logo1_att" [style.opacity]="op"></div>
    <div [class]="logo2_att" id="logo2_att" [style.opacity]="op"></div>
    <div [class]="Upside11_att" id="Upside11_att" [style.opacity]="op"></div>
    <div [class]="Upside12_att" id="Upside12_att" [style.opacity]="op"></div>
    <div [class]="Upside13_att" id="Upside13_att" [style.opacity]="op"></div>
    <div [class]="Upside14_att" id="Upside14_att" [style.opacity]="op"></div>
    <div [class]="Upside15_att" id="Upside15_att" [style.opacity]="op"></div>
    <div [class]="Upside16_att" id="Upside16_att" [style.opacity]="op"></div>
    <div [class]="Upside17_att" id="Upside17_att" [style.opacity]="op"></div>
    <div [class]="Upside18_att" id="Upside18_att" [style.opacity]="op"></div>
    <div [class]="Upside19_att" id="Upside19_att" [style.opacity]="op"></div>
    <div [class]="Upside20_att" id="Upside20_att" [style.opacity]="op"></div>


    <div style="width:80%; min-height:180px;height:auto;background:#0F0F0F;margin:0 auto; padding-top:10px;padding-left:10px;padding-bottom:5px;margin-top:-30px;">

        <!--小方框位置  -->
        <div id="sbox" style="position: absolute;z-index:18;bottom:0px; right:-100px;width:500px;">
            <!-- 方向 -->
            <div id="rbway" style="width:196px; min-height:22px;height:auto;background:#0A0A0A;border:1px solid #555555">
                <a style="float:left;margin-left:2px;margin-top:2px;margin-bottom:2px;" (click)="dtouRainbow()">
                    <img src="image/up.png" alt="up">
                </a>
                <a style="float:left;margin-left:2px;margin-top:2px;margin-bottom:2px;" (click)="utodRainbow()">
                    <img src="image/bottom.png" alt="bottom">
                </a>
                <a style="float:left;margin-left:2px;margin-top:2px;margin-bottom:2px;" (click)="rtolRainbow()">
                    <img src="image/left.png" alt="left">
                </a>
                <a style="float:left;margin-left:2px;margin-right:2px;margin-top:2px;margin-bottom:2px;" (click)="ltorRainbow()">
                    <img src="image/right.png" alt="right">
                </a>
            </div>
            <div id="crashway" style="width:196px; min-height:22px;height:auto;background:#0A0A0A;border:1px solid #555555">
                <a style="float:left;margin-left:2px;margin-top:2px;margin-bottom:2px;" (click)="dtucrash()">
                    <img src="image/up.png" alt="up">
                </a>
                <a style="float:left;margin-left:2px;margin-top:2px;margin-bottom:2px;" (click)="utdcrash()">
                    <img src="image/bottom.png" alt="bottom">
                </a>
                <a style="float:left;margin-left:2px;margin-top:2px;margin-bottom:2px;" (click)="rtlcrash()">
                    <img src="image/left.png" alt="left">
                </a>
                <a style="float:left;margin-left:2px;margin-right:2px;margin-top:2px;margin-bottom:2px;" (click)="ltrcrash()">
                    <img src="image/right.png" alt="right">
                </a>
            </div>
            <!-- 預設 -->
            <div id="defaultset" style="display:block;margin-top:10px;">
                <div style="margin-left:-5px;width:300px; height:auto;background:red;">
                    <a style="float:left;color:#555555;" class="twsize" (click)="setDefault(1)">&nbsp;
                        <img class="colorcheck" src="image/uncheck.png" *ngIf='!default'>
                        <img class="colorcheck" src="image/check.png" *ngIf='default'>&nbsp;预设</a>
                    <a style="float:left;color:#555555;" class="twsize" (click)="setDefault(2)">&nbsp;
                        <img class="colorcheck" src="image/uncheck.png" *ngIf='!default02'>
                        <img class="colorcheck" src="image/check.png" *ngIf='default02'>&nbsp;自定义</a>
                </div>
            </div>
            <br>
        </div>
        <!-- 選色區獨立 -->
        <div style="position: absolute;z-index:18;bottom:-50px; right:-100px;width:500px;">
            <div id="colorgp" style="margin-top:10px;">
                <div id="colorbar" style="display:block;width:260px;min-height:22px;height:auto;;clear:both;">
                    <!-- 選色 -->
                    <span style="min-height:20px;height:auto;float:left;">
                        <a id="desideclr" [style.background]="defaultclr"></a>
                    </span>
                    <a (click)="PickClr(1)" style="float:left;width:18px; height:18px; background:#E9004C;display:block;border:1px #2D2D2D solid;border-right:0px;margin-left:20px;"></a>
                    <a (click)="PickClr(2)" style="float:left;width:18px; height:18px; background:#FF3F00;display:block;border:1px #2D2D2D solid;border-right:0px"></a>
                    <a (click)="PickClr(3)" style="float:left;width:18px; height:18px; background:#FFBF00;display:block;border:1px #2D2D2D solid;border-right:0px"></a>
                    <a (click)="PickClr(4)" style="float:left;width:18px; height:18px; background:#7FFF00;display:block;border:1px #2D2D2D solid;border-right:0px"></a>
                    <a (click)="PickClr(5)" style="float:left;width:18px; height:18px; background:#00FFFF;display:block;border:1px #2D2D2D solid;border-right:0px"></a>
                    <a (click)="PickClr(6)" style="float:left;width:18px; height:18px; background:#007FFF;display:block;border:1px #2D2D2D solid;border-right:0px"></a>
                    <a (click)="PickClr(7)" style="float:left;width:18px; height:18px; background:#6400FF;display:block;border:1px #2D2D2D solid;border-right:0px"></a>
                    <a (click)="PickClr(8)" style="float:left;width:18px; height:18px; background:#AF26FF;display:block;border:1px #2D2D2D solid;"></a>
                </div>
                <div id="blasoul" style="width:260px; min-height:21px;height:auto;">
                    <!-- 選色 -->
                    <span style="min-height:20px;height:auto;float:left;">
                        <a style="float:left;width:30px; height:30px; background:#E9004C;display:block;border:1px #2D2D2D solid;border-right:0px;"></a>
                        <a style="float:left;width:30px; height:30px; background:#FF3F00;display:block;border:1px #2D2D2D solid;"></a>
                    </span>
                    <a style="float:left;width:18px; height:18px; background:#1F0000;display:block;border:1px #2D2D2D solid;border-right:0px;"></a>
                    <a style="float:left;width:18px; height:18px; background:#3F0000;display:block;border:1px #2D2D2D solid;border-right:0px;"></a>
                    <a style="float:left;width:18px; height:18px; background:#5F0000;display:block;border:1px #2D2D2D solid;border-right:0px;"></a>
                    <a style="float:left;width:18px; height:18px; background:#7F0000;display:block;border:1px #2D2D2D solid;border-right:0px;"></a>
                    <a style="float:left;width:18px; height:18px; background:#9F0000;display:block;border:1px #2D2D2D solid;border-right:0px;"></a>
                    <a style="float:left;width:18px; height:18px; background:#BF0000;display:block;border:1px #2D2D2D solid;border-right:0px;"></a>
                    <a style="float:left;width:18px; height:18px; background:#DF0000;display:block;border:1px #2D2D2D solid;border-right:0px;"></a>
                    <a style="float:left;width:18px; height:18px; background:#FF0000;display:block;border:1px #2D2D2D solid;"></a>
                </div>
            </div>
            <br>
        </div>
        <div style="width:100%; height:35px;">
            <h3 class="titleclr twsize" style="float:left;margin-right:5px;font-weight:300;line-height:25px;">效果</h3>
            <!-- 下拉式選單 -->
            <div *ngIf="fnbtn" class="twsize" style=" background-image:url(image/fnopthv.png);float:left;width:207px;height:30px;background-position:center;background-repeat:no-repeat;background-size:cover;margin-right:5px;padding-left:10px;color:white;line-height:30px">{{etitle}}</div>
            <div *ngIf="!fnbtn" class="twsize" style=" background-image:url(image/fnopt.png);float:left;width:207px;height:28px;background-position:center;background-repeat:no-repeat;background-size:cover;margin-right:5px;padding-left:10px;color:white;line-height:30px"
                (click)="openOpt()" id="ftltopt">{{etitle}}</div>
            <img style="float:left;" src="image/clrpicker.png">
            <a (click)="sendApply()" id="apply">储存灯效设定</a>
        </div>
        <div style="width:100%; height:60px;margin-top:5px;">
            <!--一組-->
            <div style="float:left;">
                <h3 class="titleclr" style="float:left;margin-right:5px;font-weight:300;line-height:-10px;font-size:12px;">亮度</h3>
            </div>
            <div style="float:left;">
                <div class="slidecontainer" style="margin-top:-5px;">
                    <input tabindex=-1 [(ngModel)]="cuteValue" (ngModelChange)="onInput($event)" type="range" min="0" max="1" step="0.01" value={{cuteValue}}
                        style="width:265px;" class="slider" onkeydown="if(event.keyCode > 0){return false}">
                </div>
                <span class="contword" style="font-size:12px;margin-right:50px;margin-top:20px;">关闭</span>
                <span class="contword" style="font-size:12px;margin-right:50px;margin-top:20px;">微亮</span>
                <span class="contword" style="font-size:12px;margin-right:50px;margin-top:20px;">一般</span>
                <span class="contword" style="font-size:12px;">明亮</span>
            </div>
            <!-- -->

            <!--一組-->
            <div style="float:left;margin-left:100px;">
                <h3 class="titleclr" style="float:left;margin-right:5px;font-weight:300;line-height:-10px;font-size:12px;">速度</h3>
            </div>
            <div style="float:left;">
                <div class="slidecontainer" style="margin-top:-5px;">
                    <input tabindex=-1 [(ngModel)]="speedValue" (ngModelChange)="SpeedInput($event)" type="range" min="20" max="80" value={{speedhere}}
                        step="30" class="slider" style="width:265px;transform: rotate(180deg);" onkeydown="if(event.keyCode > 0){return false}">
                </div>
                <span class="contword" style="font-size:12px;margin-right:110px;margin-top:20px;">慢</span>
                <span class="contword" style="font-size:12px;margin-right:120px;margin-top:20px;">中</span>
                <span class="contword" style="font-size:12px;margin-right:0px;margin-top:20px;">快</span>
            </div>
            <!-- -->
        </div>
        <!-- <div style="width:100%; height:60px;margin-top:-73px;">
            <div style="margin-top:30px;">
                <a (click)="clickOnitem(0)">&nbsp;
                    <img src="image/uncheck.png" *ngIf='!check01' style="display:inline-block;">
                    <img src="image/check.png" *ngIf='check01'>&nbsp;
                    <span style="color:#555555;font-size:12px;">不使用设备</span>
                </a>
                <input type="text" class="ipstyle contword" style="display:inline-block; width:50px;height:12px;">
                <span style="color:#555555;font-size:12px;">分钟后，将设备的灯光效果切换到</span>
            </div>
            <a class="titleclr" style="background-image:url(image/lightopt.png);background-size:cover; background-position:center;display:block; width:185px; height:24px;font-size:12px;padding-left:20px; line-height:25px;font-size:12px;margin-top:5px;">关闭所有灯光（省电模式）</a>
        </div> -->
    </div>
    <section>
        <div style="width:335px; height:35px;position: absolute;opacity: 0.7;z-index: 19;top: 305px;left: 105px;">
            <a (click)="clickOnitem()" style="width:30px;height:18px;">&nbsp;
                <img src="image/uncheck.png" *ngIf='!check01' style="width: 12px; display:none;">
                <img src="image/check.png" *ngIf='check01' style="width: 12px;display:none;">
            </a>
            &nbsp;
            <span style="color:#555555;font-size:12px;">不使用设备</span>
            <div *ngIf="blockTime" style="position: absolute; top: 0; left: 85px; width:50px;height:15px; background-color:transparent;"></div>
            <input tabindex=-1 onCONTEXTMENU="window.event.returnValue=true" id="time" type="text" value={{timeValue}} [(ngModel)]="timeValue"
                (ngModelChange)="timeInput($event)" class="ipstyle contword" style="display:inline-block; width:50px;height:15px;"
                minlength="1" maxlength="4">
            <span style="color:#555555;font-size:12px; ">分钟后，将设备的灯光效果切换到</span>
        </div>
    </section>
</section>