.dragonUp1_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp2_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 10ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp3_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 20ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp4_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 30ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp5_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 40ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp6_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 50ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp7_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 60ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp8_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 70ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp9_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 80ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp10_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 90ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp11_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 100ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp12_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 110ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp13_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 120ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp14_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 130ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp15_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 140ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp16_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 150ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp17_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 160ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp18_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 170ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp19_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 180ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp20_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 190ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp21_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 200ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp22_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 210ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp23_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 220ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp24_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 230ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp25_high {
    animation-name: dragon1;
    animation-duration: 2s;
    animation-delay: 240ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown1_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown2_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 20ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown3_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 40ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown4_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 60ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown5_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 80ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown6_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 100ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown7_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 120ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown8_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 140ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown9_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 160ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown10_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 180ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown11_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 200ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown12_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 220ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown13_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 240ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown14_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 260ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown15_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 280ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown16_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 300ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown17_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 320ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown18_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 340ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown19_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 360ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown20_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 380ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown21_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 400ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown22_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 420ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown23_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 440ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown24_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 460ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown25_high {
    animation-name: dragon2;
    animation-duration: 2s;
    animation-delay: 480ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp1_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp2_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 50ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp3_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 100ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp4_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 150ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp5_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 200ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp6_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 250ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp7_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 300ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp8_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 350ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp9_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 400ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp10_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 450ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp11_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 500ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp12_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 550ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp13_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 600ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp14_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 650ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp15_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 700ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp16_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 750ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp17_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 800ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp18_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 850ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp19_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 900ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp20_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 950ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp21_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 1000ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp22_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 1050ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp23_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 1100ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp24_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 1150ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp25_med {
    animation-name: dragon2;
    animation-duration: 4s;
    animation-delay: 1200ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown1_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown2_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 60ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown3_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 120ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown4_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 180ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown5_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 240ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown6_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 300ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown7_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 360ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown8_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 420ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown9_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 480ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown10_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 540ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown11_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 600ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown12_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 660ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown13_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 720ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown14_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 780ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown15_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 840ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown16_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 900ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown17_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 960ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown18_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 1020ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown19_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 1080ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown20_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 1140ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown21_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 1200ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown22_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 1260ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown23_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 1320ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown24_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 1380ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown25_med {
    animation-name: dragon1;
    animation-duration: 4s;
    animation-delay: 1440ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp1_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp2_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 100ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp3_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 200ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp4_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 300ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp5_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 400ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp6_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 500ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp7_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 600ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp8_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 700ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp9_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 800ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp10_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 900ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp11_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 1000ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp12_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 1100ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp13_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 1200ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp14_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 1300ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp15_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 1400ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp16_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 1500ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp17_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 1600ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp18_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 1700ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp19_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 1800ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp20_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 1900ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp21_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 2000ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp22_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 2100ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp23_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 2200ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp24_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 2300ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonUp25_slow {
    animation-name: dragon1;
    animation-duration: 8s;
    animation-delay: 2400ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown1_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-iteration-count: infinite
}

.dragonDown2_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 120ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown3_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 240ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown4_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 360ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown5_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 480ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown6_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 600ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown7_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 720ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown8_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 840ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown9_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 960ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown10_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 1080ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown11_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 1200ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown12_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 1320ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown13_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 1440ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown14_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 1560ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown15_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 1680ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown16_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 1800ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown17_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 1920ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown18_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 2100ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown19_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 2220ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown20_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 2340ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown21_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 2460ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown22_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 2580ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown23_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 2700ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown24_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 2820ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

.dragonDown25_slow {
    animation-name: dragon2;
    animation-duration: 8s;
    animation-delay: 2960ms;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
}

@keyframes dragon1 {
    0% {
        background-color: transparent
    }
    25% {
        background-color: rgb(0, 0, 255);
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes dragon2 {
    0% {
        background-color: transparent
    }
    25% {
        background-color: rgb(255, 255, 255)
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: transparent
    }
}