#esc_css01,
#esc_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 96px;
    left: 191px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#f1_css01,
#f1_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 96px;
    left: 237px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#f2_css01,
#f2_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 96px;
    left: 261px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#f3_css01,
#f3_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 96px;
    left: 284px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#f4_css01,
#f4_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 96px;
    left: 307px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#f5_css01,
#f5_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 96px;
    left: 341px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#f6_css01,
#f6_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 96px;
    left: 365px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#f7_css01,
#f7_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 96px;
    left: 388px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#f8_css01,
#f8_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 96px;
    left: 411px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#f9_css01,
#f9_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 96px;
    left: 445px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#f10_css01,
#f10_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 96px;
    left: 468px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#f11_css01,
#f11_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 96px;
    left: 491px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#f12_css01,
#f12_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 96px;
    left: 514px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#print_css01,
#print_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 96px;
    left: 545px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#scroll_css01,
#scroll_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 96px;
    left: 568px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#pause_css01,
#pause_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 96px;
    left: 591px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#perid_css01,
#perid_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 192px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#n1_css01,
#n1_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 216px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#n2_css01,
#n2_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 239px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#n3_css01,
#n3_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 261px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#n4_css01,
#n4_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 284px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#n5_css01,
#n5_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 307px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#n6_css01,
#n6_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 329px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#n7_css01,
#n7_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 353px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#n8_css01,
#n8_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 376px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#n9_css01,
#n9_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 400px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#n0_css01,
#n0_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 423px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#minus_css01,
#minus_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 446px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#plus_css01,
#plus_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 468px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#bsp_css01,
#bsp_2_css01 {
    width: 40px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 492px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#insert_css01,
#insert_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 547px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#home_css01,
#home_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 570px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#pup_css01,
#pup_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 593px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#numlock_css01,
#numlock_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 623px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#numdrawn_css01,
#numdrawn_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 646px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#numtimes_css01,
#numtimes_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 669px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#numminus_css01,
#numminus_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 133px;
    left: 692px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#tab_css01,
#tab_2_css01 {
    width: 30px;
    height: 16px;
    position: absolute;
    top: 157px;
    left: 192px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#q_css01,
#q_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 157px;
    left: 228px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#w_css01,
#w_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 157px;
    left: 250px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#e_css01,
#e_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 157px;
    left: 273px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#r_css01,
#r_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 157px;
    left: 296px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#t_css01,
#t_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 157px;
    left: 319px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#y_css01,
#y_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 157px;
    left: 341px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#u_css01,
#u_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 157px;
    left: 365px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#i_css01,
#i_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 157px;
    left: 388px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#o_css01,
#o_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 157px;
    left: 411px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#p_css01,
#p_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 157px;
    left: 435px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#lqu_css01,
#lqu_2_css01{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 157px;
    left: 458px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#rqu_css01,
#rqu_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 157px;
    left: 481px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#drawn_css01,
#drawn_2_css01 {
    width: 28px;
    height: 16px;
    position: absolute;
    top: 157px;
    left: 504px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#delete_css01,
#delete_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 157px;
    left: 547px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#end_css01,
#end_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 157px;
    left: 570px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#pdown_css01,
#pdown_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 157px;
    left: 593px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#num7_css01,
#num7_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 157px;
    left: 624px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#num8_css01,
#num8_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 157px;
    left: 646px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#num9_css01,
#num9_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 157px;
    left: 669px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#numplus_css01,
#numplus_2_css01{
    width: 16px;
    height: 40px;
    position: absolute;
    top: 157px;
    left: 692px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#caps_css01,
#caps_2_css01 {
    width: 35px;
    height: 16px;
    position: absolute;
    top: 180px;
	left: 192px;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
}

#a_css01,
#a_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 180px;
    left: 232px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;

}

#s_css01,
#s_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 180px;
    left: 256px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#d_css01,
#d_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 180px;
    left: 279px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#f_css01,
#f_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 180px;
    left: 301px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#g_css01,
#g_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 180px;
    left: 325px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#h_css01,
#h_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 180px;
    left: 348px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#j_css01,
#j_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 180px;
    left: 371px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#k_css01,
#k_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 180px;
    left: 394px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#l_css01,
#l_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 180px;
    left: 417px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#sem_css01,
#sem_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 180px;
    left: 441px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#quo_css01,
#quo_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 180px;
    left: 464px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#enter_css01,
#enter_2_css01 {
    width: 43px;
    height: 16px;
    position: absolute;
    top: 180px;
    left: 488px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#num4_css01,
#num4_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 180px;
    left: 624px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#num5_css01,
#num5_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 180px;
    left: 646px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#num6_css01,
#num6_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 180px;
    left: 669px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#lshift_css01,
#lshift_2_css01 {
    width: 45px;
    height: 16px;
    position: absolute;
    top: 203px;
    left: 192px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#z_css01,
#z_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 203px;
    left: 246px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#x_css01,
#x_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 203px;
    left: 268px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#c_css01,
#c_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 203px;
    left: 291px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#v_css01,
#v_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 203px;
    left: 314px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#b_css01,
#b_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 203px;
    left: 338px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#n_css01,
#n_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 203px;
    left: 361px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#m_css01,
#m_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 203px;
    left: 384px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#comma_css01,
#comma_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 203px;
    left: 407px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#dot_css01,
#dot_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 203px;
    left: 430px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#qmark_css01,
#qmark_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 203px;
    left: 451px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#rshift_css01,
#rshift_2_css01 {
    width: 55px;
    height: 16px;
    position: absolute;
    top: 203px;
    left: 476px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#up_css01,
#up_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 203px;
    left: 570px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#num1_css01,
#num1_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 203px;
    left: 624px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#num2_css01,
#num2_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 203px;
    left: 646px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#num3_css01,
#num3_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 203px;
    left: 669px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#lctrl_css01,
#lctrl_2_css01 {
    width: 30px;
    height: 16px;
    position: absolute;
    top: 226px;
    left: 192px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#win_css01,
#win_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 226px;
    left: 228px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#lalt_css01,
#lalt_2_css01 {
    width: 26px;
    height: 16px;
    position: absolute;
    top: 226px;
    left: 251px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#space_css01,
#space_2_css01 {
    width: 130px;
    height: 16px;
    position: absolute;
    top: 226px;
    left: 285px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#ralt_css01,
#ralt_2_css01 {
    width: 28px;
    height: 16px;
    position: absolute;
    top: 226px;
    left: 423px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#fn_css01,
#fn_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 226px;
    left: 457px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#book_css01,
#book_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 226px;
    left: 481px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#rctrl_css01,
#rctrl_2_css01 {
    width: 25px;
    height: 16px;
    position: absolute;
    top: 226px;
    left: 505px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#left_css01,
#left_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 226px;
    left: 547px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#down_css01,
#down_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 226px;
    left: 570px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#right_css01,
#right_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 226px;
    left: 593px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#num0_css01,
#num0_2_css01{
    width: 38px;
    height: 16px;
    position: absolute;
    top: 226px;
    left: 624px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#numdot_css01,
#numdot_2_css01 {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 226px;
    left: 669px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}

#numenter_css01,
#numenter_2_css01 {
    width: 16px;
    height: 40px;
    position: absolute;
    top: 203px;
    left: 692px;
    opacity: 1;
    z-index: 9;
    border-radius: 1px;
}